.panel {
  width: 70vw;
  height: 80vh;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
}
.panel h1 {
  color: #0f4b59;
}

/* .client-list {
  position: absolute;
  top: 17%;
  left: 35%;
} */
.client-list-title {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #0f4b59;
  text-transform: uppercase;
}
.appointment-panel-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.appointment-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 500px;
  background-color: #0f4b59;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: 0 10px 30px #009087;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.appointment-panel .button2 {
  margin-top: 20px;
}
.appointment-panel p {
  color: white;
  margin-bottom: 4px;
  margin-top: 10px;
}
.appointment-panel .select-field {
  width: 200px;
}

.doctor-appointment-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.select-input {
  width: 170px;
  padding: 10px;
  border-radius: 10px;
  transition: all 300ms;
  border: none;
  font-family: sans-serif;
  cursor: pointer;
}
option {
  cursor: pointer;
}
option:hover {
  box-shadow: 0 0 10px 100px #1882a8 inset;
}

.med-rec-btn-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.med-rec-btn-wrapper .box {
  width: auto;
  background-color: #a6a2a238;
  color: #1e1e1e;
}
.med-rec-btn-wrapper .box:hover {
  background-color: #00a97fac;
}

.date-picker {
  padding: 6px;
  border-radius: 10px;
  width: 220px;
  cursor: pointer;
  border: 1px solid black;
}
.date-picker:hover {
  background-color: white;
}
.date-picker:focus {
  border-radius: 10px;
}
.date-picker::-webkit-calendar-picker-indicator {
  border-radius: 10px; /* Set border radius for the calendar popup icon */
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  cursor: pointer;
  font-size: 16px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
}

.button2:active {
  color: #666;
  /* box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff; */
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.change-button {
  background-color: transparent;
  border-color: #009087;
  padding: 5px 10px;
  margin: 6px;
  font-size: 12px;
  text-transform: uppercase;
}
.date-select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.date-select-wrapper .select-field {
  width: 500px;
}
/* CSS FOR  MEASURING HEART RATE AND BODY PRESSURE  */

.container_measure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container_measure h1 {
  text-align: center;
  text-transform: uppercase;
  color: #0f4b59;
}

.body-pressure-display {
  text-align: center;
  margin-top: 20px;
}

.button-group-measure {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-measure {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;
}
.measure-btn {
  background-color: #007bff;
}
.measure-btn:hover {
  background-color: #0056b3;
}
.save-measure-btn {
  background-color: #00a97f;
}
.save-measure-btn:hover {
  background-color: #037559;
}
.history-btn {
  background-color: rgb(135, 51, 180);
}
.history-btn:hover {
  background-color: rgb(96, 36, 128);
}

.ul-measure {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.ul-measure li {
  margin-bottom: 10px;
}

.heart-icon {
  display: flex;
  justify-content: center;
  align-items: center; /* Center the heart vertically */
  margin-top: 20px;
}

.heart-icon svg {
  width: 100px;
  height: 100px;
  fill: red;
  stroke: #fff;
  stroke-width: 2;
  animation: heartbeat 1s infinite alternate; /* Add heartbeat animation */
}

.heart-rate-display {
  text-align: center;
  margin-top: 20px;
}
.measure-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.laboratory-containter {
  padding: 10px;
}
/* SERVICE PANEL CSS */
.lab-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}
.all-lab-reports {
  display: flex;
  height: fit-content;
  align-items: center;
  gap: 30px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 300ms;
}
.all-lab-reports:hover {
  background-color: #bdfad3;
}
/* .all-lab-reports .button2 { 
  padding: 4px 6px;
  background-color: #bdfad3;
  font-size: 12px;
  text-transform: uppercase;
} */
.lab-header {
  display: flex;
  align-items: center;
  gap: 80px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 6px;
  font-weight: 600;
  width: 420px;
  text-align: center;
}
.laboratory-panel {
  width: 650px;
  height: 400px;
  /* padding: 10px 20px; */
  margin-bottom: 20px;
}
.report-name {
  padding: 10px;
  border-bottom: 1px solid #009087;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  background-color: #0090865b;
}
.report-content {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #009087;
  border-right: 1px solid #009087;
  border-bottom: 1px solid #009087;
}
.single-content {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2ac6ff33;
  /* border: 1px solid black; */
}
.single-content .content-name {
  font-weight: 600;
  width: 100px;
}
.odd {
  background-color: #07aec436;
}
.single-content .content-value {
  width: 100px;
  text-align: center;
}

/* DOCTORS SYLE */
.button {
  --color: #00a97f;
  padding: 0.4em 0.8em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(255, 255, 255);
  border: none;
}

.button:active {
  filter: brightness(0.8);
}
.select-field {
  padding: 0.4em 0.8em;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: monospace;
}
.doctor-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.doctor-panel table {
  margin-top: 30px;
}
.select-btn-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.select-field {
  background-color: #ffffff;
  cursor: pointer;
}
.select-field option:hover {
  background-color: #bdfad3;
}
